
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5F5D1;
    box-sizing: border-box;
}
#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3{
    color: white;
    text-align: center;
    letter-spacing: 1px;
    padding: 15px;
    background: red;
    margin-top: 0px;

}
#container form img{
    margin:15px auto;
    text-align: center;
    display: flex;
}
#container form input, #container form select{
    width: 90%;
    padding: 5px;
    font-size: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#container form input[type="submit"]{
    width: 50%;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}
label{
    text-align: left;
}
.items{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
#container form{
    background: #fff;
    width: 500px;
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: red;
    margin-top: 20px;
}
header {
    background-color: red;
    color: black;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    padding: 15px;
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}


table {
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

table caption {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
}

table th,
table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: red;
    color: #fff;
    font-weight: bold;
}

img {
    max-width: 50%;
    display: flex;
    margin: 0 auto;
}

table{
    border: 1px solid red;
}
td{
    border: 1px solid red;
}