$background-color: #f2f4f8;

$primary-color: #5867dd;

$primary: #5867dd;

$secondary-color: #e1eaea;

$heading-color: #2d3748;

$text-color:#718096;

$border-color: #e1eaea;

$white-color: #ffffff;

$bg-secondary: #8897aa;

$bg-white-2: #f7f6f7;

$dark-text: #222222;

$dark-text-2: #343a40;

$green-color: #1dc9b7;

$bg-gray: #eef5f9;

$danger-color: #fd397a;

$info-color: #5578eb;

$white-color-2: #f1f1f1;

$warning-color: #ffb822;

$gray-color: #777;

$blue-color: #0168fa;

$text-gray: #b4b6b8;

$blue-2: #1dc9b7;

$purple-color: #5867dd;

$bg-dark: #282f3a;

$dark: #273444;

$bg-chok: #462f3f;

$pink-darken-4: #880e4f;

$bg-default: #0168fa;

$text-secondary:#1dc9b7;

$text-success-color: #1dc9b7;

$bg-warning-color: #ffb822;

$red-darken-4: #fd397a;

$bg-opacity-default-5: rgba(94, 37, 114, 0.50);

$bg-opacity-default-7: rgba(94, 37, 114, 0.70);

$bg-opacity-default-8: rgba(94, 37, 114, 0.80);

$green-opacity-8: rgba(114, 192, 44, 0.8);

$green-opacity-9: rgba(114, 192, 44, 0.9);

$green-opacity-5: rgba(40, 167, 69, 0.5);

$dark-opacity-5: 0px 0px 10px rgba(0, 0, 0, 0.5);

$dark-opacity-95: 0px 0px 10px rgba(0, 0, 0, 0.95);

$white-opacity-2: rgba(255, 255, 255, 0.3);

$white-opacity-5: rgba(255, 255, 255, 0.5);

$white-opacity-7: rgba(255, 255, 255, 0.70);