/* :: Editor CSS */

.tox .tox-mbtn__select-label {
    font-weight: 600 !important;
    cursor: pointer !important;
}

.editor-toolbar a {
    color: #222f3e !important;
}

.adm-editor {
    height: 350px !important;
    background-color: #282f3a;
    color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border: none;
    border-radius: 3px;
}