/* :: Google Chart CSS */

#chart_google,
#chart_google_c,
#chart_pie,
#chart_donut,
#chart_3dpie,
#chart_diffpie,
#chart_line,
#chart_area,
#chart_combo {
    width: 100%;
    height: 400px;
    font-size: 12px;
}