/* :: Pricing Table CSS */

.g-pa-10 {
	padding: 0.71429rem !important;
}
.g-brd-gray-light-v5 {
	border-color: #f7f7f7 !important;
}
.g-brd-around {
	border: solid 1px transparent !important;
}
.g-bg-gray-light-v5 {
	background-color: #f7f7f7 !important;
}
.g-pa-30 {
	padding: 2.14286rem !important;
}
.g-color-gray-dark-v3 {
	color: #555 !important;
}
.g-my-20 {
	margin-top: 1.42857rem !important;
	margin-bottom: 1.42857rem !important;
}
.g-color-primary {
	color: #72c02c !important;
}
.g-py-12 {
	padding-top: 0.85714rem !important;
	padding-bottom: 0.85714rem !important;
}
.g-brd-gray-light-v4 {
	border-color: #eee !important;
}
.g-brd-bottom {
	border-bottom: solid 1px transparent !important;
}
.g-py-60 {
	padding-top: 4.28571rem !important;
	padding-bottom: 4.28571rem !important;
}

.g-brd-bottom {
	border-bottom: solid 1px transparent !important;
}