/* :: Scrool Up CSS */

#scrollUp {
    width: 35px;
    height: 35px;
    background-color: #5578eb;
    bottom: 30px;
    right: 30px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    line-height: 35px;
    -webkit-box-shadow: 0 1px 26px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 26px 0 rgba(0, 0, 0, 0.15);
}