/* :: Sidebar Dark CSS */

.sidebar-dark {
    .ecaps-page-wrapper {
        .ecaps-sidemenu-area {
            .slimScrollDiv {
                background: -o-linear-gradient(40deg, #273444, #272b44) !important;
                background: linear-gradient(50deg, #273444, #272b44) !important;
                @include box-shadow(7px 0 15px 0 rgba(69, 90, 100, .09));

                .sidebar-menu {
                    li {
                        a {
                            color: rgba(255, 255, 255, 0.80) !important;
                            font-weight: 400;
                        }
                    }
                }

                .sidebar-menu > li.active > a,
                .sidebar-menu > li.menu-open > a {
                    color: rgba(255, 255, 255, 0.80) !important;
                    background: -o-linear-gradient(40deg, #273444, #272b44) !important;
                    background: linear-gradient(50deg, #273444, #272b44) !important;
                }
            }
        }
    }

    .sidebar-menu .treeview-menu > li.active > a {
        background-color: rgba(255, 255, 255, 0.07);
    }

    .color-white {
        color: rgba(255, 255, 255, 0.80) !important;
    }

    .sidebar-menu li a i {
        color: rgba(255, 255, 255, 0.80) !important;
        font-weight: 400;
    }

    .ecaps-logo a {
        background-color: #fff;
    }

    .top-header-area {
        background-color: #fff;
    }
}