/* :: Todo List CSS */

.widgets-todo-list-area {
    .form-add-todo {
        position: relative;
        z-index: 1;
    }

    .new-todo-item {
        width: 100%;
        border: 1px solid $border-color;
        height: 45px;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 3px;
        margin-right: 15px;

        @media #{$breakpoint-xs} {
            width: 70%;
        }
    }

    .add-todo-item {
        width: 100px;
        height: 45px;
        border: none;
        color: $white-color;
        background-color: $primary;
        font-size: 18px;
        border-radius: 3px;
        z-index: 10;
    }

    .todo-list {
        position: relative;
        z-index: 1;
        margin-top: 1.25rem;

        li {
            @include transition-duration(500ms);
            position: relative;
            z-index: 1;
            padding: 0.4rem 2rem 0.4rem 1rem;
            border: 1px solid $border-color;
            border-radius: 3px;
            @include display-flex(flex);
            @include align-items-center;
            margin-top: 15px;
            font-size: 16px;
            font-weight: 600;

            [type="checkbox"]:checked + span:not(.lever)::before {
                border-right: 2px solid $primary-color;
                border-bottom: 2px solid $primary-color;
            }

            label {
                margin-right: .5rem;
            }

            .todo-item-delete {
                position: absolute;
                top: 50%;
                right: 1rem;
                height: 16px;
                width: 16px;
                font-size: 16px;
                color: $primary-color;
                margin-top: -8px;
                cursor: pointer;
            }

            &.todo-completed {
                text-decoration: line-through;
                border-color: $green-color;

                .todo-item-delete {
                    color: $danger-color;
                }
            }
        }
    }

    input[type="checkbox"],
    input[type="radio"] {
        display: none;
    }

    [type="checkbox"] + span:not(.lever) {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        display: inline-block;
        height: 13px;
        line-height: 25px;
        font-size: 1rem;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [type="checkbox"] + span:not(.lever)::before,
    [type="checkbox"]:not(.filled-in) + span:not(.lever)::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid #777;
        border-radius: 1px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    [type="checkbox"]:not(.filled-in) + span:not(.lever)::after {
        border: 0;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

    [type="checkbox"] + span:not(.lever)::before,
    [type="checkbox"]:not(.filled-in) + span:not(.lever)::after {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 2px solid $primary;
        border-radius: 1px;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .widgets-todo-list-area .todo-list li [type="checkbox"]:checked + span:not(.lever)::before {
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
    }

    [type="checkbox"]:checked + span:not(.lever)::before {
        top: -4px;
        left: -5px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid $primary;
        border-bottom: 2px solid $primary;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }
}

.to-do-list .done-task h6,
.to-do-list .done-task p,
.to-do-list .done-task span {
    text-decoration: line-through;
}

.todo--list-area {
/* Basic Style */
body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  display: block;
  width: 400px;
  margin: 100px auto 0;
}
ul {
  margin: 0;
  padding: 0;
}
li * {
  float: left;
}
li, h3 {
  clear:both;
  list-style:none;
}
input, button {
  outline: none;
}
button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
button:hover {
  color: #333;
}
/* Heading */
h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
input[type="text"]:focus {
  color: #333;
}

/* New Task */
label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}
input#new-task {
  float: left;
  width: 318px;
}
p > button:hover {
  color: #0FC57C;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
li >  input[type="text"] {
  width: 226px;
}
li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type=text] {
  display:none;
}

ul li.editMode input[type=text] {
  display:block;
}

ul li.editMode label {
  display:none;
}

}

